<h1>Survey prototype</h1>
<%= link_to "Add Question", new_post_path %>
<ul>
<% @posts.each do |this_post| %>
    <li>
        <strong><%= this_post.title %></strong>
        <p>
            <%= this_post.body %>
        </p><br>
        <%= link_to "Delete", 
            post_path(this_post), 
            method: :delete, 
            data: { confirm: "Are you sure you want to delete?" } %>
        <%= link_to "Edit",
            edit_post_path(this_post) %>
        <%= link_to "Show",
            post_path(this_post) %>
    </li>
<% end %>
</ul>
